@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Light";
  src: local("Poppins-Light"),
    url("./assets/Fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Regular";
  src: local("Poppins-Regular"),
    url("./assets/Fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Medium";
  src: local("Poppins-Medium"),
    url("./assets/Fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("Poppins-Bold"),
    url("./assets/Fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "SemiBold";
  src: local("Poppins-SemiBold"),
    url("./assets/Fonts/Poppins-SemiBold.ttf") format("truetype");
}

/* WebKit Scrollbar Page Styles */
.scrollPage::-webkit-scrollbar {
  width: 6px;
  padding-left: 10px;
}

.scrollPage::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.scrollPage::-webkit-scrollbar-thumb {
  background-color: #d1751f;
  border-radius: 10px;
}

nav .active {
  position: relative;
}


nav .active::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  left: 0;
  bottom: 0;
  /* top: 0; */
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}

nav .active:hover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}

.categories .active {
  background-color: #d1751f;
  color: #fff;
}

;

.offers .active {
  background-color: #d1751f;
  color: #fff;
}

;

/* Custom styles for Splide pagination dots */
.splide__pagination__page {
  width: 12px;
  height: 12px;
  background-color: white;
  /* Default color for pagination dots */
  border-radius: 50%;
  margin: 0 5px;
  opacity: 0.7;
  /* Slightly transparent */
  transition: background-color 0.3s, opacity 0.3s;
}

.splide__track {
  border-radius: 20px !important;
}

.splide__pagination {
  bottom: -1.5em !important;
}

.splide__pagination__page:hover {
  opacity: 1;
  /* Highlight on hover */
}

.splide__pagination__page.is-active {
  opacity: 1;
  /* Fully visible */
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


.radio-button__input:checked+.radio-button__label .radio-button__custom {
  transform: translateY(-50%) scale(0.9);
  border: 5px solid #d1751f;
  color: #d1751f;
}

.radio-button__input:checked+.radio-button__label {
  color: #d1751f;
}

.radio-button__label:hover .radio-button__custom {
  transform: translateY(-50%) scale(1.2);
  border-color: #d1751f;
  box-shadow: 0 0 10px #d1751f;
}